<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>PT. IKS</title>
		<!-- Favicon -->
		<link rel="shortcut icon" href="/template/images/favicon.ico" />
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/template/css/bootstrap.min.css">
		<!-- Typography CSS -->
		<link rel="stylesheet" href="/template/css/typography.css">
		<!-- Style CSS -->
		<link rel="stylesheet" href="/template/css/style.css">
		<link rel="stylesheet" href="/swal/sweetalert.css">
		<!-- Responsive CSS -->
		<link rel="stylesheet" href="/template/css/responsive.css">
		 <!-- Full calendar -->
		<link href='/template/fullcalendar/core/main.css' rel='stylesheet' />
		<link href='/template/fullcalendar/daygrid/main.css' rel='stylesheet' />
		<link href='/template/fullcalendar/timegrid/main.css' rel='stylesheet' />
		<link href='/template/fullcalendar/list/main.css' rel='stylesheet' />
  
		<link rel="stylesheet" href="/template/css2/flatpickr.min.css">
	 </head>